@media only screen and (max-width: 600px) {
  body {
    background-color: lightcoral;
  }
}
.jumbotron{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
    padding: 100px 120px;
}
#services{
  text-align: center;
  color: black;
  padding: 8px;
}
#services h2{
  padding: 20px;
}
.up-arrow{

  text-align: center;
}
#pizza h2{
  padding: 30px;
}
h6{
  color:black;
}
#pricing{
  text-align: center;
}
.navbar {
    margin-bottom: 0;
    background-color: lightcoral;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  #about{
      text-align: center;
      font-size: 15px;
      padding: 15px;
      margin-bottom: -10px;
  }
  #about h2{
    padding: 13px;
  }
  .carousel-inner img {
    width: 100%;
    margin: auto;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  #images{
    width: 500px;
    height: 400px;
  }
  #height{
    height: 180px;
    width: 270px;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  #contact{
    background-image: url(../img/contacts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  #button{
    color: #000;
  }
#email,#name ,#subject {
background: transparent;
color: white;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: horizontal;
}
  
input[type=submit] {
    cursor: pointer;
    text-align: center;
}
  
input[type=submit]:hover {
	background-color: #45a049;
}
form#formInput ::placeholder {
    color:white;    
}