.jumbotron{
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: auto;
    width: auto;
    color:black;
}
.navbar {
    margin-bottom: 0;
    background-color: lightcoral;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  #about{
      text-align: center;
      font-size: 15px;
  }
  .carousel-inner img {
    width: 100%;
    margin: auto;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  #images{
    width: 500px;
    height: 400px;
  }
  #height{
    height: 180px;
    width: 270px;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }